node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.DS_Store

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Android/iOS build output
android/
ios/

# Backend
backend/__pycache__/
backend/.venv/
backend/*.pyc

# Dashboard
dashboard/node_modules/
dashboard/dist/

.temp
.venv
venv

__pycache__/