@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  body * {
    visibility: hidden;
  }
  .print-receipt-container,
  .print-receipt-container * {
    display: block !important;
    visibility: visible !important;
  }
  #printable-receipt,
  #printable-receipt * {
    visibility: visible;
  }
  #printable-receipt {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
  .print-receipt-container {
    display: block !important;
  }
}
